.banner {
  margin-top: 103px;
}
.bannertab{
  width: 100%;
  background: #ffffff;
  /*padding: 50px 70px 0 70px;*/
  max-width: 1280px;
  margin: auto;
  height: 80px;
  margin-top: 50px;
}
.tabs{
  position: absolute;
  height: 72px;
  width: 1280px;
  margin: 0 auto;
  padding: 0 100px;
  background: #fff;
  border: 1px solid #ececec;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 6%);
  border-radius: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  /*justify-content: space-around;*/
}
.title{
  display: flex;
  font-size: 18px;
  color: #333;
  letter-spacing: 0;
  align-items: center;
  cursor: pointer;
}
.icon{
  line-height: 24px;
  height: 24px;
  /*width: 24px;*/
  display: inline-block;
  margin-right: 8px;
}
.active{
  color: #007aff;
}
.cust{
  color: inherit;
}
.cust:hover{
  color: #007aff;
}
.titleico{
  display: block;
  width: 80px;
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  border: none;
  background: linear-gradient(
          90deg
          , #D1201D 0%, #E13F27 100%);
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  top:10px;
  left: 10px;
  text-align: center;
}