/*首页样式*/
.page {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  min-width: 1280px;
  background: #f2f2f2;
  scroll-behavior: smooth;
  margin-top: 130px;
}
.banner {
  margin-top: 130px;
}
.bannertext {
  color: #cacece;
  height: 24px;
  line-height: 24px;
  padding: 10px 0 0 10px;
  font-size: 20px;
}
.section-container {
  width: 100%;
  background: #ffffff;
  height: 545px;
  padding: 70px 70px 0 70px;
  max-width: 1280px;
  margin: auto;
}
.section-header {
  font-size: 30px;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}
.section-subTitle {
  font-size: 14px;
  color: #4c4c4c;
  margin-bottom: 22px;
  text-align: center;
}
/*section1*/
.section2__content__main {
  display: flex;
  width: 100%;
  height: 405px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 1280px;
  /*background: #007aff;*/
}
.section2__content__main__left {
  width: 30%;
  flex: 0 0 400px;
  padding-top: 20px;
  display: flex;
  text-align: start;
  align-items: flex-end;
  flex-direction: column;
}
.section2__content__main__left--item {
  /*width: 156px;*/
  padding-left: 6px;
  line-height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  text-align: start;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  /*flex-direction: column;*/
}
.section2__content__main__left--item--active {
  position: relative;
  background: #004897;
}
.section2__content__main__left--item--active:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  left: -15px;
  background: #004897;
}
.section2__content__main__right {
  flex: 1;
  padding-top: 70px;
  background-size: 100% 100%;
  /*border: 1px solid #d7d7d7;*/
  border-left: none;
  cursor: pointer;
  padding-left: 45px;
}
.left-top {
  padding: 50px 20px 0 20px;
  width: 100%;
  height: 280px;
}
.left-top-img {
  width: 340px;
  height: 200px;
  margin: auto;
}
.left-bottom {
  width: 100%;
  display: flex;
  text-align: start;
  align-items: center;
  border-bottom: 1px solid #007aff;
}
.left-bottom-date {
  width: 60px;
}
.left-bottom-date-day {
  color: #007aff;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}
.left-bottom-title h2:hover {
  color: #007aff;
}
.left-bottom-date-month {
  color: #666666;
  text-align: center;
  font-size: 14px;
}
.left-bottom-title {
  flex: 1;
  /*width: 72%;*/
  /*float: right;*/
  /*overflow: hidden;*/
  /*text-align: right;*/
  /*margin: auto;*/
}
.left-bottom-title h2 {
  margin-left: 30px;
  width: 620px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 25px;
}
.section3__content__main {
  display: inline-flex;
  width: 100%;
  height: 465px;
  background: #007aff;
}
.section3__content__main__right {
  flex: 1;
  background-size: 100% 100%;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  border-right: none;
  cursor: pointer;
}
.section3__content__main__left {
  flex: 0 0 156px;
  padding-top: 20px;
  display: flex;
  text-align: start;
  align-items: flex-start;
  flex-direction: column;
}
.section3__content__main__left--item {
  width: 146px;
  text-align: center;
  margin-bottom: 20px;
  padding-right: 6px;
  padding-left: 6px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.section3__content__main__left--item--active {
  position: relative;
  background: #004897;
}
.section3__content__main__left--item--active:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  right: -15px;
  background: #004897;
}
.section4__content__main {
  display: inline-flex;
  /*flex-direction: column;*/
  width: 100%;
  /*border: 1px solid #d7d7d7;*/
  margin-top: 10px;
  /*height: 512px;*/
  background: #fff;
  display: inline-flex;
  justify-content: space-between;
}

.section4__content__main__item {
  /*flex: 0 0 220px;*/
  width: 100%;
  background: #fff;
  /*border: 1px solid #d7d7d7;*/
  cursor: pointer;
  position: relative;
  /*height: 300px;*/
}
.hysolution {
  display: block;
  width: 100%;
}

.section4__content__main__item:hover {
  transform: scale(0.95);
  transition: all 0.2s;
}
.section4__content__main__item--image {
  /*height: 180px;*/
  height: 100%;
  margin-bottom: 16px;
  width: 100%;
}
.section4__content__main__item--block1 {
  display: flex;
  margin-bottom: 10px;
  /*padding: 0 20px;*/
  font-size: 24px;
  white-space: nowrap;
  color: #fff;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.section4__content__main__item--block1--left {
  /*margin-right: 20px;*/
  text-align: center;
  margin: auto;
  width: 100%;
}

.section4__content__main__left {
  flex: 0 0 60px;
  margin-left: 30px;
  margin-right: 30px;
  background: #fff;
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: space-around;
}
.section4__content__main__left--item {
  flex: 0 0 180px;
  text-align: center;
  padding-right: 6px;
  padding-left: 6px;
  line-height: 60px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.section4__content__main__left--item--active {
  position: relative;
  font-weight: 500;
  color: #007aff;
}
.section4__content__main__left--item--active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background: #007aff;
}

.section4__content__main__right {
  flex: 1;
  background-size: 100% 100%;
  cursor: pointer;
}
.section5-container {
  width: 100%;
  background: #ffffff;
  height: 1270px;
  padding: 70px;
  max-width: 1280px;
  margin: auto;
}
.section5__content {
  width: 100%;
}
.section5__content__title {
  font-size: 30px;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}
.section5__content__desc {
  font-size: 14px;
  color: #4c4c4c;
  margin-bottom: 22px;
  text-align: center;
}
.section5__content__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 54px;
}
.section5__content__main__item {
  flex: 0 0 30%;
  width: 30%;
  background: #fff;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  margin-bottom: 30px;
}
.section5__content__main::after {
  content: '';
  width: 30%;
}

.section5__content__main__item:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
.section5__content__main__item--image {
  width: 100%;
  height: 180px;
  margin-bottom: 16px;
}
.section5__content__main__item--block1 {
  display: flex;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 14px;
  white-space: nowrap;
  color: #333;
}
.section5__content__main__item--block1--left {
  margin-right: 20px;
}
.section5__content__main__item--block1--right {
  overflow: hidden;
  text-overflow: ellipsis;
}
.section5__content__main__item--block2 {
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section5__content__main__item--block3 {
  padding: 0 20px;
  height: 38px;
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 20px;
}
.section5__content__main__item--line {
  margin: 0 20px;
  height: 1px;
  border-color: #dedede;
  background-color: #dedede;
  color: #dedede;
  margin-bottom: 15px;
}
.section5__content__main__item--block4 {
  display: flex;
  margin-bottom: 30px;
  padding: 0 20px;
  font-size: 14px;
  white-space: nowrap;
  color: #666;
}

.section5__content__main__item--block4--left {
  margin-right: 20px;
}
.section5__content__main__item--block4--right {
  overflow: hidden;
  text-overflow: ellipsis;
}
.section5__content__logos {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section5__content__logos__logo {
  width: 200px;
  height: 62px;
  /*margin-right: 30px;*/
  cursor: pointer;
}
.more:hover {
  color: #007aff;
}
.section5__content .section5__content__link {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #1c51a4;
  cursor: pointer;
}
.section8-container {
  width: 100%;
  background: #ffffff;
  height: 455px;
  padding: 50px 70px 0 70px;
  max-width: 1280px;
  margin: auto;
}
.section8__content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: left;
  width: 100%;
}
.section8__content__title {
  font-size: 30px;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}
.section8__content__desc {
  font-size: 14px;
  color: #4c4c4c;
  margin-bottom: 22px;
  text-align: center;
}
.section8__content__main {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
  height: 265px;
}
.section8__content__main__left {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  margin-right: 14px;
  width: 830px;
  background: #f5f9ff;
  cursor: pointer;
  border: 1px solid #d7d7d7;
}
.section8__content__main__left--logo {
  flex: 0 0 190px;
  width: 190px;
  margin-right: 30px;
}
.section8__content__main__left__info--title {
  font-family: PingFangSC-Medium;
  font-size: 26px;
  color: #222;
  margin-bottom: 20px;
}

.section8__content__main__left__info--desc {
  font-family: PingFangSC-Regular;
  line-height: 24px;
  font-size: 16px;
  color: #3a3a3a;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.section8__content__main__right {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 330px;
}
.section8__content__main__right__item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  padding: 0 16px;
}
.yyh {
  width: 100%;
  height: 100%;
  display: block;
}
.joinusan {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.joinusan:hover {
  color: #fff;
}

.section8__content__main__right__item:first-child {
  background-color: #fffbf5;
}
.section8__content__main__right__item--title {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #222;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.section8__content__main__right__item--logo {
  width: 86px;
  margin-right: 14px;
}
.section8__content__main__right__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  width: 100%;
  height: 55px;
  background: #007aff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
/*section1*/

/*轮播容器*/
.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: 100%;
}
.swiper-item {
  height: 550px;
}
.swiper-slide > img {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page1_slide__main {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-position: center 60%;
  background-color: #fff;
  cursor: pointer;
  background-size: cover;
}
.my-bullet {
  display: inline-block;
  width: 30px;
  height: 3px;
  box-sizing: content-box;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-top: 20px solid hsla(0, 0%, 100%, 0);
  border-bottom: 20px solid hsla(0, 0%, 100%, 0);
  margin-right: 10px;
  background-clip: content-box;
  cursor: pointer;
}

/*轮播容器*/

/*案例列表页面*/
.case-container {
  width: 100%;
  background: #ffffff;
  padding: 50px 70px 0 70px;
  max-width: 1280px;
  margin: auto;
}
.labels_content {
  display: flex;
  align-items: flex-start;
  min-height: 36px;
}
.labels_content .category_name {
  min-width: 69px;
  border-right: 1px solid #f0f2f5;
  line-height: 20px;
  margin-top: 4px;
  font-size: 14px;
  color: #333;
  letter-spacing: 0;
}
.labels_content .labels {
  padding-left: 16px;
  width: 1000px;
}
.labels_content .labels .label_item {
  text-align: center;
  height: 28px;
  padding: 4px;
  float: left;
  display: flex;
  line-height: 20px;
  font-size: 14px;
  color: #333;
  letter-spacing: 0;
  margin-right: 20px;
  margin-bottom: 8px;
  justify-content: space-around;
}
.labels_content .labels .label_item .labelContent {
  cursor: pointer;
  display: flex;
  text-align: center;
  padding: 0 10px;
}
.labels_content .labels .label_item .labelContent .font {
  display: inline-block;
  /* max-width: 70px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.labels_content .labels .active {
  background: #007aff;
  color: #fff;
  /*padding-left: 4px;*/
  /*padding-right: 4px;*/
  border-radius: 2px;
}
.case-list-container {
  width: 100%;
  background: #ffffff;
  padding: 50px 70px 0 70px;
  max-width: 1280px;
  margin: auto;
  min-height: 424px;
}
.case__content__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.case__content__main::after {
  content: '';
  width: 30%;
}
/*案例列表页面*/
